/* ↓ドロップダウン */
nav {
    width:100%;
    top:0;
    margin-top:0;
    margin-left: 3px;
    clear:both;
    position:fixed;
}
/* 参考 : http://www.nxworld.net/tips/css-simple-hoverable-dropdown.html */
nav ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul::after {
	display: block;
	clear: both;
	content: '';
}
nav ul li {
	width: 19.7%; /* ←親の幅 */
	text-align: center;
	position: relative;
	float: left;
	border: 2px solid #fff;
}
nav ul li:not(:first-child) {
	border-left: none;
}
nav ul li:hover {
	background-color: rgba(255,255,255,.3);
}
nav ul li a {
	display: inline-block;
	padding: 1em 4em;
	color: #fff;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
ul li:hover > ul {
	display: block;
}
nav ul ul {
	width: 100%;
	display: none;
	position: absolute;
	top: 100%;
	left: -2px;
}
nav ul ul li {
	width: 100%;
	float: none;
	margin: 0;
}
nav ul ul li:not(:first-child) {
	border: 2px solid #fff;
	border-top: none;
}
nav ul ul ul {
	position: absolute;
	top: -2px;
	left: 100%;
}
nav li ul li ul:before {
  position: absolute;
  content: "";
  top: 21px;
  left: -10px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #fff;
}

/* ↓ホームのcss */
.demoSpan1{display:block;position:relative;}
.demoSpan1:before{content:''; height:20px; width:24px; display:block; border:3px #333 solid; border-top:0; position:absolute; top:15px; left:5px;}
.demoSpan1:after{content:''; height:16px; width:10px; display:block; position:absolute; top:21px; left:10px; background:#333;}
.demoSpan2:before{content:''; height:7px; width:7px; display:block; position:absolute; top:23px; left:23px; background:#333;}
.demoSpan2:after{content:''; height:24px; width:23px; border-top:5px #333 solid; border-right:5px #333 solid; position:absolute; top:4px; left:6px; transform:scale(1,0.8) rotate(-45deg);-webkit-transform:scale(1,0.8) rotate(-45deg);-moz-transform:scale(1,0.8) rotate(-45deg);-o-transform:scale(1,0.8) rotate(-45deg);-ms-transform:scale(1,0.8) rotate(-45deg);}
/* ↑ */